<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
    <body>
        <div class="header">

            <div class="wrapper">
                <div class="block-border">

                <div class="header-layout block">
                    <div class="logo">
                        toDo
                    </div>
                    <ul class="menu">
                        <li><a href="/register">Sign Up</a></li>
                        <li><a href="/help">Help</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


                    
                </div>
            </div>
        </div>

        <div class="content">
            <div class="wrapper-content">

                <div class="block-border">
                    <div class="sign-form block">
                        <form action="/login" method="POST">
                            <input type="text" name="username" placeholder="Username">
                            <input type="password" name="password" placeholder="Password">
                            <input type="submit" value="Sign In">
                        </form>
                    </div>
                </div>
             </div>
        </div>
        <div class="footer">
            <div class="wrapper-footer">
                <div class="block-border">
                    <div class="footer-layout block">
                        borapop
                    </div>
                </div>
            </div>
        </div>
    </body>
</head>
</html>