<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./style.css">
    <title></title>
    <body>
        <div class="header">

            <div class="wrapper">
                <div class="block-border">

                <div class="header-layout block">
                    <div class="logo">
                        toDo
                    </div>
                    <ul class="menu">
                        <li><a href="/login">Sign In</a></li>
                        <li><a href="/help">Help</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


                    
                </div>
            </div>
        </div>

        <div class="content">
            <div class="wrapper">

                <div class="block-border">
                    <div class="content-layout block">
                        <div class="tasks-panel">
                            <h2>Tasks</h2>
                            <ul class="tasks">
                                <li>task111111</li>
                                <li>task2</li>
                                <li>task2</li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="task">
                            <h2>Task Name</h2>
                        </div>
                        <div class="contributors">
                            <h2>Contributors</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
             </div>
        </div>
        <div class="footer">
            <div class="wrapper-footer">
                <div class="block-border">
                    <div class="footer-layout block">
                        borapop
                    </div>
                </div>
            </div>
        </div>
    </body>
</head>
</html>