extends layout

block content
  h1= title
  p= error
  
  form(id="newTask" method="post")
    input(type="text" name="name")
    br
    textarea(form="newTask" name="body")
    br
    input(type="submit")
