extends layout

block content
  a(href="/logout") logout
  br
  a(href="/tasks/new") add task
  h1= title
  
  ul
  each val, index in tasks
    li
      a(href="/tasks/" + tasks[index].name)= tasks[index].name