/*
@contentc: #dfe0e2;
@bottomc: #2f292b;
@rightc: #a5a6a9;
@backgroundc: #f45844;
*/
body {

    margin:0;
    padding: 0;
    background-color: #f45844;
    background-image: url('../images/noise.jpg');
    opacity: 0.9;
    font-family: verdana;
}



h2 {
    margin: 0;
}


.wrapper {
    margin: 0 auto 10px auto;
    width: 700px;
}

.wrapper-content {
    margin: 10px auto 10px auto;
    width: 300px;
}

.wrapper-footer {
    margin: auto;
    width: 500px;
}

.header-layout {

}

.content-layout {
    padding: 10px;
}

form {
    font-family: verdana;
    margin: 0;    
    padding: 10px;
}

form>input {
    display: block;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    border: 2px solid #a5a6a9;

}

form>input:active {
    border: 2px solid #2f292b;

}

form>input[type="submit"]:hover {
    border: 2px solid #2f292b;
    background-color: #2f292b;
    color: #dfe0e2;

}

.tasks-panel {
    float: left;
    padding-right: 10px;
    border-right: 2px solid #2f292b;
}

.tasks>li {
    list-style: none;
}

.task {
    padding: 0 10px;
    float: left;
}

.contributors {
    float: right;
}


.footer-layout {
    
    padding: 10px;
}

.block {
    margin: -10px 0 0 -10px;
    background-color: #dfe0e2;
}


.block-border {
    border-color: none;
    border-style: solid;
    border-width: 10px;    
    border-image: url('../images/box-border.svg') 20 fill repeat;
}

.logo {
    padding: 2px 10px;
    float: left;
    font-weight: bold;
    font-size: 28px;
}

.menu {
    display: block;
    float: right;
    padding: 0;
    margin: 0;
}

.clearfix{
    content: '';
    clear: both;
}

.menu>li {
    display: inline-block;
    padding: 10px 0;
    margin-left: -5px;
    list-style: none;
}

.menu>li>a{
    color: #2f292b;
    text-decoration: none;
    padding: 10px;
}

.menu>li>a:hover{
    background-color: #a5a6a9;
    text-decoration: none;
    padding: 10px;
}

.menu>li>a.active{
    background-color: #a5a6a9;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}






















